// V2

editor {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 200px;

    popover {
        display: none;
        position: absolute;
        bottom: -10px;
        background-color: #fff;
        border-radius: 0.2rem;
        height: fit-content;
        padding: 2px;

        > * {
            white-space: nowrap;
        }
    }

    toolbar {
        z-index: 1;
        background-color: #fff;
        position: relative;
        button[data-method="removeMedia"] {
            display: none;
        }
    }

    popover, toolbar {
        group {
            position: relative;
            display: inline-flex;
            vertical-align: middle;
            margin: 0 2px;

            > button {
                &:not(:first-child) {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
                &:not(:last-child) {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }
        button {
            position: relative;
            padding: 0.25rem 0.5rem;
            margin: 0;
            line-height: 1.5;
            border-radius: 0.2rem;
            display: inline-block;
            font-weight: 500;
            color: #666666;
            text-align: center;
            vertical-align: middle;
            user-select: none;
            background-color: transparent;
            border: 1px solid #dee2e6;
            line-height: 1.5;
            flex: 1 1 auto;

            &.active, &:active {
                color: #212529;
                background-color: #e6e5e5;
                border-color: #dfdfdf;
            }

            &.disabled {
                color: #aaaaaa;
                button {
                    color: #aaaaaa;
                }
            }
        }
        > button {
            margin: 0 2px;
        }
        placeholder button {
            display: inline-block;
            margin: 0;
            padding: 0;
            border: 0;
            width: auto;
            background-color: transparent;

            &[name^=color-] {
                width: 20px;
                height: 2px;
                position: absolute;
                bottom: 1px;
            }
        }
        .dropdown-menu {
            padding: 2px;

            .wysiwyg-dropdown-item {
                width: 100%;
                display: block;
            }
        }
    }

    editable {
        flex: 1;
        outline: none;
        overflow: auto;
    }

    palette.dropdown-menu.show {
        padding: 4px 4px 10px 4px;
        > button {
            width: 100%;
            margin: 4px 0;
        }
        row {
            display: block;
            white-space: nowrap;
            button {
                width: 20px;
                height: 20px;
                padding: 0;
                margin: 0;
                border: 1px solid #fff;
            }
        }
    }

    tablepicker.dropdown-menu.show {
        min-width: 3em;
        min-height: 3em;
        padding: 0;
        margin: 0;
        .wysiwyg-dimension-picker {
            overflow: hidden;
        }
        row {
            display: block;
            white-space: nowrap;
            button {
                width: 1em;
                height: 1em;
                padding: 0;
                margin: 0;
                border: 1px solid #000;
                border-radius: 0;

                &:hover {
                    background-color: #875A7B;
                }
            }
            button.wysiwyg-tablepicker-highlighted {
                background-color: #875A7B;
            }
        }
    }
}


// MODALS

body .modal {

    // SELECT MEDIA
    .o_select_media_dialog {
        max-width: 80%;

        .modal-body {
            .tab-pane {
                min-height: 300px;
            }

            .existing-attachments {
                width: 100%;
            }

            .o_existing_attachment_cell {
                $o-border-image: 2px;

                .o_existing_attachment_remove {
                    @include o-position-absolute($o-border-image, 15px + $o-border-image);
                    padding: 3px 5px 5px 5px;
                    background-color: rgba(white, 0.8);
                    text-shadow: 0 0 1px white;
                    border-radius: 0 0 0 2px;
                    opacity: 0;
                    cursor: pointer;

                    &:hover {
                        background-color: white;
                        color: $o-wysiwyg-color-danger;
                    }
                }

                .o_image {
                    border: $o-border-image solid transparent;
                    cursor: pointer;
                    transition: opacity 400ms ease 0s;

                    &.o_webimage {
                        width: 100%;
                        height: auto;
                        background-image: none !important;
                    }

                    &.o_image_loading {
                        opacity: 0;
                    }
                }

                &.o_selected .o_image {
                    border-color: $o-brand-odoo;
                    box-shadow: 0px 0px 2px 2px $o-brand-secondary;
                }

                &:hover .o_existing_attachment_remove {
                    opacity: 1;
                }
            }

            .font-icons-icons {
                >span {
                    text-align: center;
                    font-size: 22px;
                    margin: 5px;
                    width: 50px;
                    height: 50px;
                    padding: 15px;
                    cursor: pointer;

                    &.o_selected {
                        cursor: auto;
                        background-color: $o-wysiwyg-bg-color-dark;
                        box-shadow: 0px 0px 0px 1px $o-wysiwyg-color-success;
                    }
                }
            }

            #editor-media-image,
            #editor-media-document {
                .o_we_url_input {
                    width: 300px;
                }
            }

            // VIDEO TAB
            #editor-media-video {
                .o_video_dialog_form {
                    #o_video_form_group {
                        position: relative;
                        width: 100%;

                        >textarea {
                            width: 100%;
                            min-height: 95px;
                            padding-bottom: 25px;
                            overflow-y: scroll;
                        }

                        .o_validate_feedback {
                            @include o-position-absolute(auto, 10px, 10px);

                            >.fa {
                                display: none;
                            }
                        }

                        &.o_has_error .o_validate_feedback>.fa-exclamation-triangle {
                            display: block;
                        }

                        &.o_has_success .o_validate_feedback>.fa-check {
                            display: block;
                        }
                    }
                }

                #video-preview {
                    position: relative;
                    @include o-we-preview-box();
                    border: none;

                    .media_iframe_video {
                        width: 100%;
                    }

                    .o_video_dialog_iframe {
                        @include o-we-preview-content;
                        max-width: 100%;
                        max-height: 100%;

                        &.alert {
                            animation: fadeInDownSmall 700ms forwards;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }

    // Crop Dialog
    .o_crop_image_dialog .o_crop_area {
        height: 350px;

        .cropper-point {
            background-color: white;
            transition: all 400ms $o-wysiwyg-md-ease 0s;
            transform: scale(1.5, 1.5);
            border-radius: 10px;
            box-shadow: 0 0 1px 1px rgba(23, 23, 23, 0.5);
            opacity: 1;

            &:hover {
                transform: scale(2.5, 2.5);
            }
        }

        .cropper-line {
            background: black;
        }

        .cropper-view-box {
            outline: 2px solid white;
        }
    }

    // LINK EDITOR DIALOG COLOR SELECTOR
    .o_link_dialog {
        .o_link_dialog_color>.o_link_dialog_color_item {
            position: relative;
            width: 30px;
            height: 30px;
            padding: 0; // Important for themes
            border: 2px solid rgba(0, 0, 0, 0.25);
            border-radius: 50%;

            input:checked+i::before {
                content: "\f00c";
                @include o-position-absolute($top: 6px, $left: 5px);
            }

            &.btn-link {
                padding: 3px 9px;

                >span {
                    text-decoration: underline;
                }
            }
        }

        .o_link_dialog_preview {
            border-left: 1px solid gray('200');
        }
    }
}

// Highlight selected image/icon
%o-we-selected-image {
    $o-selected-image-color: rgba(150, 150, 220, 0.3);
    background: $o-selected-image-color;
    outline: 3px solid $o-selected-image-color;
}

img.o_we_selected_image {
    @extend %o-we-selected-image;
}

.fa.o_we_selected_image::before {
    @extend %o-we-selected-image;
}

.fa.mx-auto,
img.mx-auto {
    display: block;
}
